@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: serif;
  letter-spacing: -0.4px;
  word-spacing: -0.2px;
}

#body {
  background: rgb(29, 29, 29);
}

.header {
  margin-left: 20px;
  height: 100px;
  display: flex;
  align-items: center;

}


.container-header {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  background: rgb(43, 43, 43);
  background: linear-gradient(90deg, #1b1b1b 69%, rgba(72, 179, 240, 1) 100%);
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  margin-bottom: 25px;
}

.item-img {
  width: 130px;
}

.item-nav {
  font-size: 17px;
  margin: 5px 0px 5px 0px;
  background: transparent;
  border-radius: 5px;
  padding: 5px 35px 5px 35px;
  font-weight: bold;
}

.item-nav:hover {
  background-color: #458cbb;
  transition: background-color 1.2s ease;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  color: rgb(224, 224, 224);
}

.link-item-nav {
  text-decoration: none;
  color: #afafaf;
}

.link-item-nav:hover {
  color: rgb(184, 184, 184)
}

.login-car {
  margin-right: 20px;
}

.item-login-car {
  font-size: 20px;
  margin: 7px;
  display: inline-block;
}

.link-login-car {
  text-decoration: none;
  color: rgb(58, 58, 58);
}

.link-login-car:hover {
  color: #ffffff;
}

#Login::after {
  content: " ingresar ";
}

#boton-hardware {
  font-size: 17px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 5px;
  padding: 7px 25px 7px 25px;
  background: transparent;
  color: #afafaf;
  font-weight: bold;
  border-radius: 5px;
  border-style: none;
}

#boton-hardware:hover {
  border: 1px white solid;
  transition-duration: 1.5s;
  background-color: #458cbb;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  color: #e7e5e5;
  border-color: transparent;
}

#capsula {
  font-size: 12px;
}

.span {
  font-size: 15px;
}

.enlace-titulo {
  text-decoration: none;
}

.tituloEmpresa {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  color: rgb(143, 142, 142);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5), 2px 2px 2px rgba(206, 89, 55, 0);
}

.titulomodal {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  letter-spacing: -0.4px;
  word-spacing: -0.2px;
  padding-top: 30px;
  color: #2d2c2c;
  text-shadow: #e0e0e0 1px 1px 0, 0px 0px 20px #0e0f0e;
}

.tituloperisfericos {
  font-family: "Times New Roman", Times, serif;
  padding-top: 66px;
  margin-left: 10px;
  position: absolute;
  left: 4px;
  color: transparent;
  background: #b6b5b5;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgb(36, 35, 35);
}

/*Quienes somos*/
.container-quienes-somos {
  margin-bottom: 10px;
  padding: 20px;
  color: #b4afaf;
  background: rgb(29, 29, 29);
}

.container-title {
  text-align: center;
}

.principal-img {
  width: 200px;
  border-radius: 10px;
}

.title-title {
  color: #474747;
  color: transparent;
  background: #918f8f;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(70, 69, 69, 0.5);
}

.Informacion {
  padding: 50px;
  font-size: 20px;
}

.title-so {
  margin-top: 10px;
  text-align: center;
}

.link-desarrollador {
  font-size: 20px;
  text-decoration: none;
  color: #075d97;
}

/**/

/*off canvas top*/

.offcanvas {
  font-size: 10px;
  background: rgb(34, 33, 33);
}

#offcanvas-header {
  display: block;
  background-color: #0d1929;
  height: 500px;
}

.container-canvas-diviciones {
  display: flex;
  margin-top: 20px;
  margin-left: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
}

.canvas-diviciones {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: #000000;
  background: -webkit-linear-gradient(to top, #434343, #000000);
  background: linear-gradient(to top, #434343, #000000);
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  border-radius: 30%;
}

.canvas-diviciones:hover {
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 15px 5px #345581;
  box-shadow: 0px 5px 15px 5px #30517c;
  transition-duration: 2s;
  position: relative;
  bottom: 10px;
  transition-duration: 2s;
}

.img-canvas {
  height: 100px;
  width: 100px;
}

.enlace-canvas {
  text-decoration: none;
  color: #d6d6d6;
}

.enlace-canvas:hover {
  text-decoration: none;
  color: #dad7d7;
}

#btnClose {
  position: absolute;
  top: 30px;
  right: 30px;
}

/*------------------------menu perisfericos--------------------------------------------------------*/

.divisores-perisfericos {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: transparent;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 5px;
  font-size: 14px;
}

.img-main-divisores {
  height: 180px;
  width: 110%;
}

.divisores-menu:hover {
  position: relative;
  bottom: 20px;
  padding: 5px;
  background: rgb(31, 30, 30);
  background: linear-gradient(90deg, rgb(19, 19, 19) 11%, #1495eb 89%, );
  border-radius: 10px;
  -webkit-box-shadow: -1px 1px 15px 3px #1495eb;
  box-shadow: -1px 1px 15px 3px #1495eb;
}

.enlace-perisfericos {
  color: #6c6c6c;
  text-decoration: none;
}

.enlace-perisfericos:hover {
  color: #d4d4d4;
}

/*------------------------------------------------main-flex-box---------------------------*/


.container-parent {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.container-mainflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  flex-wrap: wrap;
  width: 1000px;
  font-size: 16px;
  background-color: transparent;
  color: #afafaf;

}

.box-mainflex {
  height: 250px;
}

.box-mainflex-armarpc {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 30px;
  background-color: red;
  flex-grow: 1;
  width: 320px;
  background: rgb(96, 96, 96);
  background: linear-gradient(90deg, rgb(44, 44, 44) 17%, rgb(52, 143, 196) 100%);
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.box-mainflex-armarpc:hover {
  position: relative;
  bottom: 3px;
  padding: 50px;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  -webkit-box-shadow: 0px 0px 13px 0px #000000;
  box-shadow: 0px 0px 13px 0px #000000;
  transition-duration: 1.5s;
}

#img-flexbox-armatupc {
  width: 150px;
  height: 150px;
}

#btn-armatupc {
  border: 2px #1495eb solid;
  color: #1495eb;
}

#btn-armatupc:hover {
  -webkit-box-shadow: 0px 0px 13px 0px #4094FF;
  box-shadow: 0px 0px 13px 0px #4094FF;
}

.box-mainflex-accesorios {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 30px;
  flex-grow: 2;
  width: 320px;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  border-radius: 10px;
  margin-bottom: 15px;
}

.box-mainflex-accesorios:hover {
  position: relative;
  bottom: 3px;
  padding: 50px;
  background: rgb(96, 96, 96);
  background: linear-gradient(90deg, rgb(44, 44, 44) 17%, rgb(52, 143, 196) 100%);
  -webkit-box-shadow: 0px 0px 13px 0px #000000;
  box-shadow: 0px 0px 13px 0px #000000;
  transition-duration: 1.5s;
}

#img-flexbox-accesorios {
  height: 200px;
  width: 200px;
}

#btn-accesorios {
  border: 2px #adadad solid;
  color: #a8a9aa;
}

#btn-accesorios:hover {
  -webkit-box-shadow: 0px 0px 13px 0px #444444;
  box-shadow: 0px 0px 13px 0px #19191a;
}

.box-mainflex-silla {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 30px;
  width: 100vw;
  border-radius: 10px;
  margin-bottom: 15px;
  color: #302f2f;
  background: rgb(87, 87, 87);
  background: linear-gradient(90deg, rgba(124, 123, 123, 1) 33%, rgba(41, 41, 41, 1) 100%);
}

#box-mainflex-silla:hover {
  padding: 60px;
  -webkit-box-shadow: 0px 0px 13px 0px #000000;
  box-shadow: 0px 0px 13px 0px #000000;
  transition-duration: 1s;
}

#img-flexbox-silla {
  width: 250px;
  height: 250px;
}

#btn-silla {
  border: 1px grey solid;
  background-color: transparent;
}

#btn-silla:hover {
  -webkit-box-shadow: 0px 0px 13px 0px #252525;
  box-shadow: 0px 0px 13px 0px #2e2e2e;
}

.box-mainflex-monitor {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 30px;
  width: 360px;
  margin-right: 10px;
  flex-grow: 1;
  border-radius: 10px;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

.box-mainflex-monitor:hover {
  transition-duration: 1.5s;
  padding: 50px;
  -webkit-box-shadow: 0px 0px 13px 0px #000000;
  box-shadow: 0px 0px 13px 0px #000000;
  background: linear-gradient(90deg, rgb(44, 44, 44) 17%, rgb(52, 143, 196) 100%);
}

#img-flexbox-monitores {
  height: 300px;
  width: 250px;
}

#btn-monitores {
  border: 2px #adadad solid;
  color: #a8a9aa;
}

#btn-monitores:hover {
  -webkit-box-shadow: 0px 0px 13px 0px #444444;
  box-shadow: 0px 0px 13px 0px #19191a;
}

.box-mainflex-kits {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 30px;
  background-color: blue;
  width: 300px;
  flex-grow: 1;
  background: #000000;
  background: rgb(96, 96, 96);
  background: linear-gradient(90deg, rgb(44, 44, 44) 17%, rgb(52, 143, 196) 100%);
  border-radius: 10px;
}

.box-mainflex-kits:hover {
  padding: 50px;
  -webkit-box-shadow: 0px 0px 13px 0px #000000;
  box-shadow: 0px 0px 13px 0px #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

#img-flexbox-kit {
  width: 200px;
  height: 250px;
}

#btn-kits {
  border: 2px #1495eb solid;
  color: #1495eb;
}

#btn-kits:hover {
  -webkit-box-shadow: 0px 0px 13px 0px #4094FF;
  box-shadow: 0px 0px 13px 0px #4094FF;
}

.btn-flexbox {
  width: 100px;
  height: 35px;
  border-radius: 15px;
  background-color: transparent;
}

.container-btn-flexbox {
  display: flex;
  position: absolute;
  bottom: 10px;
  justify-content: center;
}


/*-------------- productos chasis----------------*/

#body-chasis {
  background: #e7e6e6;
}

.col {
  margin-bottom: 30px;
}

#fila {
  margin: 80px;
  border-radius: 5px;
}

.card-chasis {
  text-align: center;
  border-radius: 8px;
  color: rgb(78, 78, 78);
}

.card-chasis:hover {
  position: relative;
  bottom: 3px;
  transition-duration: 1.5s;
  background: #313131;
  -webkit-box-shadow: 1px 2px 16px 3px #42a1e0;
  box-shadow: 1px 2px 16px 3px #42a1e0;
  color: rgb(230, 229, 228);
}

.card-title {
  height: 50px;
}

.card-description {
  font-size: 16px;
  height: 50px;
}

.card-price {
  font-size: 16px;
}

.card-btn {
  border-radius: 5px;
  border: 1px #42a1e0 solid;
  padding: 10px;
  background: transparent;
  color: #42a1e0;
  padding: 2px;
  width: 150px;
  margin: 25px;
}

.card-btn:hover {
  position: relative;
  bottom: 2px;
  transition-duration: 1s;
  -webkit-box-shadow: 1px 0px 15px -1px #42a1e0;
  box-shadow: 1px 0px 15px -1px #42a1e0;
}

.card-img {
  padding: 5px;
}

/*--------------------------------modal-----------------------*/

#content-modal {
  display: flex;
  justify-content: center;
  background: rgb(22, 22, 22);
  color: rgb(175, 175, 175);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.88);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.88);
}

/* navegacion*/

#modal-l {
  height: 10%;
}

.img-information {
  margin-top: 10px;
  width: 140px;
}

#cerrarbtnn {
  border-radius: 5px;
  border: 1px #066331 solid;
  padding: 6px;
  background: #125f36;
  color: rgb(175, 175, 175);
  position: relative;
  bottom: 1px;
}

#cerrarbtnn:hover {
  bottom: 5px;
  -webkit-box-shadow: 0px 1px 13px 3px #09ac31;
  box-shadow: 0px 1px 13px 3px #00862d;
}

#modal-header {
  display: block;
}

#modal-footer {
  display: flex;
  justify-content: center;
}

#precioInfo::after {
  content: " Pesos";
  color: rgb(175, 175, 175);
}

#precioInfo::before {
  content: "Precio: $";
  color: rgb(175, 175, 175);
}

#img-modal-chasis {
  width: 350px;
  height: 350px;
}

.container-cerrar {
  display: flex;
  justify-content: center;
}

.btn-cerrar-info {
  border-radius: 5px;
  border: 1px rgb(179, 5, 5) solid;
  padding: 10px 50px 10px 50px;
  background: transparent;
  color: white;
  margin-bottom: 1px;
}

#modalinformacion {
  background: #0e0f0e;
}

.btn-cerrar-modal-resume {
  display: flex;
  position: relative;
  justify-content: center;
}



.btn-limpiar-carrito {
  margin-top: 20px;
  border-radius: 5px;
  border: 1px transparent solid;
  padding: 6px;
  background-color: rgb(177, 18, 18);
  color: #f8f6f6;
}

.btn-limpiar-carrito:hover {
  position: relative;
  bottom: 5px;
  transition-duration: 1s;
  -webkit-box-shadow: 0px 1px 13px 3px #f01a1a;
  box-shadow: 0px 1px 13px 3px #970c07;
}

.btn-agregar-carrito {
  margin-top: 20px;
  border-radius: 5px;
  border: 1px #066331 solid;
  padding: 6px;
  background: #125f36;
  color: #c6cfca;
}

.btn-agregar-carrito:hover {
  position: relative;
  bottom: 5px;
  transition-duration: 1s;
  -webkit-box-shadow: 0px 1px 13px 3px #319437;
  box-shadow: 0px 1px 13px 3px #319437;
}

.botones-carrito {
  margin-top: 10px;
}

.stars {
  padding-bottom: 7px;
}

#cantidadProducto {
  width: 100px;
  background: #aaabac;
  color: rgb(241, 241, 241);
  border: 1px grey solid;
}

/*modal-resumen*/

#container-modal-resumen {
  background: #eeeded;
  border-radius: 7px;
  justify-content: center;
}


.modal-title {
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.modal-container-boby {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
}

.container-producto {
  margin-top: 10px;
  display: flex;
  border: 2px rgb(204, 201, 201) solid;
  border-radius: 5px;
}

.container-producto:hover {
  position: relative;
  transition-duration: 1s;
  bottom: 2px;
  background: #dbdbdb;
  -webkit-box-shadow: 0px 0px 16px 0px #42a1e0;
  box-shadow: 0px 0px 16px 0px #42a1e0;
}

.carrito-img {
  width: 140px;
}

.carrito-div-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carrito-titulo {
  font-size: 18px;
}

.carrito-total {
  color: #42a1e0;
}

.carrito-precio::after {
  content: " Pesos";
}

.carrito-precio::before {
  content: "valor ud: ";
}

.carrito-cantidad::before {
  content: "Cantidad: ";
}

.carrito-total::before {
  content: "subtotal: ";
}

.carrito-total::after {
  content: " Pesos";
}

.carrito #cerrarbtn:hover {
  position: relative;
  bottom: 3px;
  transition-duration: 1s;
  -webkit-box-shadow: 0px 1px 13px 3px #09ac31;
  box-shadow: 0px 1px 13px 3px #00862d;
}

#totalpesos {
  color: #1495eb;
  display: flex;
}

.total-pesos {
  display: flex;
  position: absolute;
  left: 15px;
}

#btn-usd {
  border-radius: 5px;
  border: 1px #1495eb solid;
  padding: 6px;
  background: #1495eb;
  color: #c6cfca;
}

/*Ingreso*/
#offcanvasRight {
  width: 30vw;
  height: 450px;
  border-radius: 2px;
  background: rgb(20, 20, 20);
  color: rgb(240, 240, 240);
  text-align: center;
  font-size: 16px;
  display: flex;
}

#title-ingreso {
  text-align: center;
  color: transparent;
  background: #afafaf;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(31, 30, 30, 0.5);
}

.text-reset {
  margin-left: 10px;

}

.form-ingreso {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.form-div {
  padding: 5px;
  font-size: 18px;
}

.input-ingreso {
  width: 20vw;
  text-align: center;
  font-size: 16px;
  background: rgb(237, 236, 236);
  color: #aeb0b0;
  border-radius: 5px;
  border: 2px #458cbb solid;
  height: 3vh;
  padding: 15px;
}

.input-ingreso:hover {
  background: rgb(97, 151, 213);
  color: white;
  transition: background-color 2.5s ease;
  border-color: rgb(200, 200, 200);
  -webkit-box-shadow: 0px 2px 8px 0px rgba(174, 170, 170, 0.95);
  box-shadow: 0px 2px 8px 0px rgba(152, 148, 148, 0.95);
}

#btn-close-ingreso {
  margin-top: 20px;
  font-size: 15px;
}

.btn-ingreso {
  margin-top: 20px;
}

.boton-ingreso {
  border: 2px transparent solid;
  background: #42a1e0;
  width: 15vh;
  color: rgb(236, 228, 228);
  border-radius: 5px;
  padding: 9px;
}

.boton-ingreso:hover {
  position: relative;
  bottom: 5px;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
}

.crearcuenta-boton-registrarse {
  width: 12vh;
  padding: 6px;
  border-radius: 5px;
  border: 2px transparent solid;
  color: rgb(214, 214, 214);
  background: rgb(28, 116, 217);
  margin-bottom: 10px;
}

.crearcuenta-boton-registrarse:hover {
  position: relative;
  bottom: 5px;
  background-color: rgb(105, 104, 104);
  transition: background-color 2.5s ease;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
}


/*registro*/

.container-registro-parent {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 400px;
  text-align: center;
  color: rgb(216, 216, 216);
}

.formulario-registro {
  display: flex;
  justify-content: center;
  font-size: 25px;
  width: 40vh;
  background: rgb(37, 63, 90);
  color: rgb(172, 167, 167);
  height: 400px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.69);
  box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.69);
}

.input-item {
  padding: 1px;
}

.input {
  background-color: #19191a;
  color: rgb(173, 172, 172);
  padding: 10px;
  font-size: 19px;
  text-align: center;
  border-radius: 8px;
  border: 1px rgb(28, 77, 151) solid;
}

.input:active {
  padding: 15px;
  background-color: rgb(37, 63, 90);
  transition: background-color 2.0s ease;
}

.inpust {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
}

.title-registro-form {
  color: transparent;
  background: #c0bebe;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(78, 76, 76, 0.5);
}

.boton-registro {
  border-radius: 5px;
  background: #1f1f1f;
  width: 10vh;
  height: 5vh;
  border: 1px transparent solid;
  font-size: 16px;
  font-weight: bold;
  color: #b1adad;
}

.title-form {
  margin-top: 25px;
}

.boton-registro:hover {
  position: relative;
  bottom: 5px;
  padding: 10px;
  background-color: #1c497c;
  color: white;
  transition: background-color 2.5s ease;
  -webkit-box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.69);
  box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.69);
}

.container-btn {
  position: absolute;
  bottom: 30px;
}

.img-registro {
  position: relative;
  top: 100px;
  right: 200px;
}

.img-registro-item {
  width: 30vw;
}

.registro-p {
  margin: 0px;
}

/*validacion registro*/
#img-validacion {
  width: 100px;
  height: 100px;
}

.modal-body-validacion {
  display: flex;
}

#validacion {
  color: rgb(59, 59, 59);

}

#modal-title-title {
  color: #1d1d1d;
}

/*///////////////////////  footer     /////////////////////*/

.pie-pagina {
  width: 100%;
  background-color: #1b1b1b;
  color: rgb(168, 167, 167);
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 90px 0px;
}

.pie-pagina .grupo-1 .box-footer figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: rgba(72, 179, 240, 1);
  text-align: center;
  transition: all 300ms ease;
  border-radius: 5px;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: #4b27af;
}

.pie-pagina .grupo-2 {
  background: rgb(43, 43, 43);
  background: linear-gradient(90deg, #1b1b1b 12%, rgba(72, 179, 240, 1) 100%);
  padding: 15px 10px;
  text-align: center;
  color: rgb(187, 186, 186);
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

.enlace-titulo-empresa {
  text-decoration: none;
}

@media screen and (max-width:800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}