
:root{
    --white: #FFFFFF;
    --black: #000000;
    --gris: #d1d1d1;
    --verde-menta:#bcccf0;
    --azul-turquesa: #c2f5f4;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

  }


.main{
    margin-top: 100px;
    margin-bottom:  100px;
}

.img-cards{
    margin-top:10px;
    width: 40%;
    margin-left: auto; 
    margin-right: auto;
}

.row{
    text-align: center;
    color: white;
    
}

.h-100{
   background-color:#2c2c2c;
   border-radius: 20px;
 
}

.text{
    margin-top: 20px;
}


.botonsitoo{
    margin-top:auto;
    border-radius:10px;
    border-style: solid;
}

.botonsitoo:hover{
    
    background: #c2f5f4;
    color: white;
}


