
:root{
    --white: #FFFFFF;
    --black: #000000;
    --gris: #d1d1d1;
    --verde-menta:#bcccf0;
    --azul-turquesa: #c2f5f4;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

  }

 .img{
    height:80px;
    width: 80px;
  }

.titulo-principal{
    color: white;
}

.cont-principal{
    padding: 50px;
    background: var(--azul-turquesa);
    border-radius: 20px;
}

#titulo{
    margin-left: 20px;
}

#titulo:hover{

    color: #60f0ee;
}

#admin:hover{
    color: #ffffff;
    background-color: #4cee0c;
    border-radius: 10px;
}

#btn-cont-principal{

    color: var(--white);
    background-color:#8af0ee;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    height: 80px;
    width: 300px;
}

#btn-cont-principal:hover{
    background-color: #000000;
}



.card-principal-imgg{
    margin-top: 35px;
    margin-left: 250px;
    margin-right: 70px;
    border-radius: 40px;
    width: 1000px;
    
    
}
.card-principal-imgg img{

    border-radius: 40px;
    height: 500px;
}

.contenedor-cards{
    display: flex;
}

.card-inf{
    margin-left:auto;
    margin-right: auto;
    padding: 10px;
    height: 300px;
    border-radius: 10px;
   
    
}

.title-card{

    margin-top:200px;
    color: #c2f5f4;
    text-align: center;
    border-width: bold;
}


.card-brr{
    margin-top:40px;
    border-radius: 40px;
    margin-left: 320px;
}



.title-cpu{
    
    text-align: center;
    border-width: 600px;
    font: bold 20px/1 ;
    text-transform: uppercase;
}


.brranuel:hover{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #8af0ee;
    color: white;
}

.titulos-cartas{
    text-align: center;
}

.imagenes-accesorios{

    height: 220px;
    width: 220px;
}


.img-footer{

    height:80px;
    width: 80px;
}

#adm:hover{
    border-radius: 10px;
    background-color: #4cee0c;
    color: white;
}